streamlit

# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin 
# dlib-20.0.99-cp313-cp313-win_amd64.whl
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
pillow

librosa
resemblyzer